@model COMP2084_Project_200465920.Models.Media

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center mt-5">@Model.Title</h1>
<h4 class="text-center mt-5">Edit</h4>
<hr />
<div class="row mt-5 ms-1">
      <form class="row justify-content-center mb-5" asp-action="Edit" enctype="multipart/form-data">
              <div class="col-12 col-md-6">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <input type="hidden" asp-for="MediaId" />
                  <div class="form-group row mb-4">
                      <label asp-for="Title" class="control-label"></label>
                      <input asp-for="Title" class="form-control" />
                      <span asp-validation-for="Title" class="text-danger"></span>
                  </div>
                  <div class="form-group row mb-4">
                      <label asp-for="MediaType" class="control-label"></label>
                      <select asp-for="MediaType" class="form-control" id="mediaType" onchange="lockOptions()" onload="lockOptions()">
                          <option value="Movie">Movie</option>
                          <option value="TV">TV Show</option>
                      </select>
                      <span asp-validation-for="MediaType" class="text-danger"></span>
                  </div>
                  <div class="form-group row mb-4">
                      <label asp-for="Season" class="control-label"></label>
                      <input asp-for="Season" class="form-control" id="season" />
                      <span asp-validation-for="Season" class="text-danger"></span>
                  </div>
                  <div class="form-group row mb-4">
                      <label asp-for="Episode" class="control-label"></label>
                      <input asp-for="Episode" class="form-control" id="episode" />
                      <span asp-validation-for="Episode" class="text-danger"></span>
                  </div>
                  <div class="form-group row mb-4">
                      <label asp-for="ReleaseDate" class="control-label"></label>
                      <input asp-for="ReleaseDate" class="form-control" />
                      <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                  </div>
                  <div class="form-group row mb-4">
                      <label asp-for="GenreId" class="control-label"></label>
                      <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                      <span asp-validation-for="GenreId" class="text-danger"></span>
                  </div>
              </div>
              <div class="col-12 col-sm-3 mb-5">
                  <div class="form-group card">
                      <label asp-for="Poster" class="control-label"></label>
                      <input asp-for="Poster" class="form-control" type="file" />
                      <span asp-validation-for="Poster" class="text-danger"></span>
                      @if (Model.Poster != null)
                      {
                          <img src="~/photos//posters//@Model.Poster" alt="Media Poster" class="poster card-img-top" />
                      }
                      else
                      {
                          <img src="https://dummyimage.com/320x480" alt="Media Poster" />
                      }
                      <input type="hidden" name="CurrentPoster" value="@Model.Poster" />
                  </div>
              </div>
              <div class="form-group row justify-content-center col-12 col-md-9">
                   <input type="submit" value="Save" class="btn btn-outline-success btn-lg" />
              </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
