@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Media Tracker</h1>
    <p>On this app you'll be able to keep track of all the movies and TV shows you've watched, as well as write and read reviews from other user.</p>
</div>
